* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Gill;
  src: url(fonts/GillSans/GillSans.ttf);
}
@font-face {
  font-family: Proxima;
  src: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: Gill-Italic;
  src: url(fonts/GillSans/GillSans-Italic.ttf);
}
@font-face {
  font-family: Gill-Bold;
  src: url(fonts/GillSans/GillSans-Bold.ttf);
}
@font-face {
  font-family: Gill-Light;
  src: url(fonts/GillSans/GillSans-Light.ttf);
}
.hero {
  margin: 0 auto;
  max-width: 1280px;
  height: 500px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero .heading {
  align-items: center;
  margin: 0 auto 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
}
.hero .heading h1 {
  font-family: Proxima;
  font-size: 60px;
}
.hero .heading p {
  font-family: Gill-Italic;
  font-size: 20px;
}
.hero .heading button {
  margin-top: 30px;
  background-color: #79ADDC;
  color: #fff;
  border: none;
  width: 121.62px;
  height: 40.04px;
}

@media only screen and (max-width: 1060px) {
  .hero {
    width: 100%;
  }
}
nav {
  width: 980px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  border-bottom: 2px solid #fff;
  justify-content: space-between;
}
nav .logo {
  max-width: 92px;
  max-height: 42px;
}
nav .links {
  width: 75%;
  height: 42px;
  align-self: center;
  display: flex;
}
nav .links a {
  color: #fff;
  width: 25%;
  text-align: center;
  font-family: Gill;
  font-size: 15px;
  text-decoration: none;
  margin: auto;
  padding: 0 auto;
  border: 1px solid #79ADDC;
  border-top: none;
  border-bottom: none;
}
nav .links .solo {
  padding: 0;
  border: hidden;
}
nav .links .merge {
  border-right: none;
}
nav .links .black-text {
  color: black;
}

nav.black {
  margin-top: 20px;
  border-bottom: 2px solid black;
}

@media only screen and (max-width: 980px) {
  nav {
    justify-content: center;
    width: 600px;
  }
}
.promo-tours {
  max-width: 1280px;
  min-height: 304px;
  margin: -50px auto 0 auto;
  display: flex;
  justify-content: space-around;
  padding-left: 180px;
  padding-right: 180px;
}
.promo-tours .promo {
  padding-top: 40px;
  height: 304px;
  width: 236px;
  text-align: center;
  color: #fff;
  font-family: Proxima;
}
.promo-tours .promo h1 {
  font-size: 60px;
  margin-bottom: 0;
}
.promo-tours .promo h3 {
  font-size: 30px;
}
.promo-tours .promo button {
  margin: 24px 0;
  background-color: #79ADDC;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 133px;
  height: 40px;
}
.promo-tours #promo-one {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.promo-tours #promo-two {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.promo-tours #promo-three {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1060px) {
  .promo-tours {
    width: 236px;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .promo-tours .promo {
    margin-bottom: 30px;
  }
}
.booking-form {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 890px;
}
.booking-form .title {
  font-family: Proxima;
  font-size: 60px;
}
.booking-form .booking-container {
  max-width: 818px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.booking-form .booking-container .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: Gill;
}
.booking-form .booking-container .row .item {
  height: 58px;
  border: 2px solid #79ADDC;
}
.booking-form .booking-container .row .spacer {
  margin-right: 5%;
}
.booking-form .booking-container .row .shorter {
  flex-grow: 2;
}
.booking-form .booking-container .row .longer {
  flex-grow: 3;
}
.booking-form .booking-container .row .timeframe {
  width: 698px;
}
.booking-form .booking-container .row p {
  margin: auto 0;
}
.booking-form .booking-container .row select {
  width: 103px;
}
.booking-form .booking-container .row textarea {
  width: 818px;
  height: 192px;
}
.booking-form .booking-container .row button {
  margin: 0 auto;
  width: 813px;
  height: 60.59px;
  border: none;
  border-radius: 50px;
  background-color: #79ADDC;
  color: #fff;
}

@media only screen and (max-width: 1060px) {
  .booking-form .booking-container {
    width: 600px;
  }
  .booking-form .booking-container .flexible {
    flex-direction: column;
  }
  .booking-form .booking-container .flexible .longer {
    width: 100%;
  }
  .booking-form .booking-container .flexible .shorter {
    width: 100%;
    margin-bottom: 20px;
  }
  .booking-form .booking-container .row .item {
    width: 100%;
  }
  .booking-form .booking-container .row p {
    padding: 0 2%;
  }
}
footer {
  max-width: 1280px;
  height: 100px;
  margin: 0 auto;
  background-color: #79ADDC;
  display: flex;
  justify-content: space-between;
}
footer .logo {
  margin: auto;
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-white.png);
  background-size: cover;
  background-repeat: no-repeat;
}
footer p {
  margin: auto;
  font-size: 12;
  font-family: Gill;
  color: #fff;
}
footer .media {
  margin: auto;
  width: 115px;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 980px) {
  footer {
    justify-content: center;
    width: 600px;
  }
}
.about {
  max-width: 980px;
  margin: 0 auto;
}
.about .about-top-section {
  margin-top: 123px;
}
.about .about-top-section h1 {
  font-family: Proxima;
  font-size: 60px;
  font-weight: lighter;
}
.about .about-top-section hr {
  width: 171px;
  height: 3px;
  background-color: black;
}
.about .about-top-section p {
  font-family: Gill;
  font-size: 16px;
}
.about .about-bottom-section {
  margin-top: 200px;
  margin-bottom: 179px;
}
.about .about-bottom-section h3 {
  font-family: Proxima;
  font-size: 40px;
  font-weight: lighter;
}
.about .about-bottom-section p {
  font-family: Gill-Italic;
  font-size: 16px;
}
.about .about-bottom-section hr {
  margin-top: -10px;
  width: 255px;
  height: 3px;
  background-color: black;
}
.about .about-bottom-section .client {
  display: flex;
  max-width: 676px;
  min-height: 150px;
  margin-top: 36.5px;
}
.about .about-bottom-section .client .client-image {
  width: 260px;
  height: 150px;
  background-color: bisque;
}
.about .about-bottom-section .client .client-image img {
  width: 100%;
}
.about .about-bottom-section .client #client-1 {
  background-image: url(../images/about-client-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about .about-bottom-section .client #client-2 {
  background-image: url(../images/about-client-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about .about-bottom-section .client .client-quote {
  position: relative;
  min-height: 50px;
  width: 100%;
  padding-left: 25px;
}
.about .about-bottom-section .client .client-quote .client-name {
  position: absolute;
  right: 0;
  bottom: 0;
}
.about .about-bottom-section .client .client-quote .client-name p {
  font-family: Proxima;
  font-size: 20px;
  color: #79ADDC;
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 10px;
  }
}
.tour header {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 50px;
  height: 200px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tours-header.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tour header span {
  text-transform: uppercase;
  color: white;
  font-family: Proxima;
  font-size: 60px;
  letter-spacing: 5px;
}
.tour .tours {
  max-width: 818px;
  margin: 48px auto 0 auto;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tour .tours .tourPromo {
  width: 236px;
  height: 304px;
  background-color: burlywood;
  margin-bottom: 55px;
  padding-top: 40px;
  text-align: center;
  color: #fff;
  font-family: Proxima;
}
.tour .tours .tourPromo h1 {
  font-size: 60px;
  margin-bottom: 0;
  font-weight: lighter;
}
.tour .tours .tourPromo h3 {
  font-size: 30px;
  font-weight: lighter;
}
.tour .tours .tourPromo button {
  margin: 24px 0;
  background-color: #79ADDC;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 133px;
  height: 40px;
}

@media only screen and (max-width: 820px) {
  .tour {
    padding: 10px;
  }
  .tour header {
    width: 600px;
  }
  .tour .tours {
    flex-direction: column;
    align-items: center;
  }
}
.israel {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
  background-size: cover;
  background-position: center;
}

.us {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
  background-size: cover;
  background-position: center;
}

.aust {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
  background-size: cover;
  background-position: center;
}

.zealand {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-04.jpg);
  background-size: cover;
  background-position: center;
}

.france {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-05.jpg);
  background-size: cover;
  background-position: center;
}

.egypt {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-06.jpg);
  background-size: cover;
  background-position: center;
}

.japan {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-07.jpg);
  background-size: cover;
  background-position: center;
}

.canada {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-08.jpg);
  background-size: cover;
  background-position: center;
}

.uae {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-09.jpg);
  background-size: cover;
  background-position: center;
}

.special-offers {
  max-width: 980px;
  min-height: 874px;
  margin: 0 auto;
  padding-top: 55.5px;
  display: flex;
  flex-direction: column;
}
.special-offers .title {
  margin-bottom: 35.5px;
}
.special-offers .title h3 {
  font-family: Proxima;
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: 2px;
}
.special-offers .title hr {
  width: 199px;
  height: 3px;
  background-color: black;
  margin-top: -10px;
}
.special-offers .offer-container {
  display: flex;
  width: 100%;
  min-height: 30px;
  margin-bottom: 60px;
}
.special-offers .offer-container .text-container {
  margin-left: 20px;
}
.special-offers .offer-container .text-container .header {
  font-family: Proxima;
  display: flex;
}
.special-offers .offer-container .text-container .header h3 {
  font-weight: lighter;
  font-size: 30px;
}
.special-offers .offer-container .text-container .header h4 {
  padding: 10px;
  font-weight: lighter;
  font-size: 20px;
  color: #FF7D38;
}
.special-offers .offer-container .text-container hr {
  width: 196px;
  height: 3px;
  background-color: black;
  margin-top: -15px;
}
.special-offers .offer-container .text-container .text-content {
  margin-top: 21.5px;
  width: 290px;
  font-family: Gill;
}
.special-offers .offer-container .text-container .text-content p {
  font-size: 16px;
}
.special-offers .offer-container .text-container .text-content button {
  font-size: 15px;
  margin: 24px 0;
  background-color: #79ADDC;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 133px;
  height: 40px;
}
.special-offers .offer-container .img-container {
  width: 199px;
  height: 287px;
  background-color: cadetblue;
}
.special-offers .offer-container .barcelona {
  background-image: url(../images/special-offer-01.jpg);
  background-size: cover;
  background-position: center;
}
.special-offers .offer-container .bangkok {
  background-image: url(../images/special-offer-02.jpg);
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 820px) {
  .special-offers {
    padding: 10px;
    align-items: center;
  }
  .special-offers .title {
    text-align: center;
    margin-top: 60px;
  }
  .special-offers .offer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .special-offers .offer-container .text-container {
    margin: 0;
  }
  .special-offers .offer-container .text-container .header {
    flex-direction: column;
  }
  .special-offers .offer-container .text-container .header h4 {
    margin-top: -20px;
    margin-bottom: -5px;
  }
  .special-offers .offer-container .text-container hr {
    margin: 0 auto;
  }
}
.contact {
  max-width: 980px;
  min-height: 891.5px;
  margin: 55.5px auto 0 auto;
}
.contact .title {
  margin-bottom: 35.5px;
  width: 200px;
}
.contact .title h3 {
  font-family: Proxima;
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: 2px;
}
.contact .title hr {
  width: 159px;
  height: 3px;
  background-color: black;
  margin-top: -10px;
}
.contact .content {
  display: flex;
}
.contact .content .map {
  width: 400px;
  height: 442px;
}
.contact .content .address {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  margin-right: 50px;
  width: 400px;
  font-family: Gill-Light;
  font-size: 18px;
}

@media only screen and (max-width: 820px) {
  .contact {
    padding: 20px;
  }
  .contact .title {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .contact .title hr {
    margin: -10px auto 10px auto;
  }
  .contact .content {
    flex-direction: column;
    align-items: center;
  }
  .contact .content .address-container {
    margin-bottom: 20px;
    justify-content: center;
  }
  .contact .content .address-container .map {
    margin: 0 auto;
  }
  .contact .content .address-container .address {
    text-align: center;
    margin: 10px auto;
  }
}
.contact-form {
  width: 529px;
  display: flex;
  flex-direction: column;
}
.contact-form .row {
  margin-bottom: 21px;
}
.contact-form .row input {
  font-family: Gill;
  font-size: 16px;
  width: 100%;
  height: 60px;
  border: none;
  background-color: #F5F5F5;
  padding-left: 21px;
}
.contact-form .row textarea {
  font-family: Gill;
  font-size: 16px;
  width: 100%;
  height: 199px;
  border: none;
  background-color: #F5F5F5;
  padding-left: 21px;
  padding-top: 20px;
}
.contact-form .row button {
  font-family: Gill;
  font-size: 16px;
  background-color: #79ADDC;
  color: #fff;
  border: none;
  width: 168px;
  height: 60px;
}

@media only screen and (max-width: 820px) {
  .contact-form .row {
    display: flex;
    justify-content: center;
  }
}
.blog {
  max-width: 980px;
  min-height: 1095.5px;
  margin: 55.5px auto 0 auto;
}
.blog .title {
  margin-bottom: 35.5px;
}
.blog .title h3 {
  font-family: Proxima;
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: 2px;
}
.blog .title hr {
  width: 106px;
  height: 3px;
  background-color: black;
  margin-top: -10px;
}
.blog .blog-entry {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
}
.blog .blog-entry .date-icon {
  width: 60px;
  height: 60px;
  background-color: #79ADDC;
  text-align: center;
  color: #fff;
  padding: 8px;
  margin-right: 20px;
}
.blog .blog-entry .date-icon h4 {
  font-family: Gill-Bold;
  font-size: 22px;
  font-weight: lighter;
  margin: 0;
}
.blog .blog-entry .date-icon p {
  font-family: Gill-Light;
  font-size: 12px;
}
.blog .blog-entry .blog-content {
  width: 100%;
}
.blog .blog-entry .blog-content .img-container {
  max-width: 900px;
  height: 259px;
  background-image: url(../images/blog.jpg);
  background-size: cover;
  background-position: center;
}
.blog .blog-entry .blog-content .text-container {
  width: 380px;
  margin-top: 20px;
}
.blog .blog-entry .blog-content .text-container h3 {
  font-weight: lighter;
  font-family: Gill;
  font-size: 15px;
  color: black;
}
.blog .blog-entry .blog-content .text-container p {
  font-family: Gill;
  font-size: 13px;
  color: #79ADDC;
}

@media only screen and (max-width: 820px) {
  .blog {
    padding: 20px;
  }
  .blog .blog-entry {
    flex-direction: column;
  }
  .blog .blog-entry .date-icon {
    margin-bottom: 20px;
  }
}
.individual-tour {
  margin: 0 auto;
  max-width: 980px;
}
.individual-tour .header {
  margin-top: 48.5px;
  height: 413px;
  position: relative;
  color: #fff;
  font-family: Proxima;
}
.individual-tour .header .title {
  font-size: 80px;
  padding-top: 20px;
  padding-left: 30px;
}
.individual-tour .header .pricing {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px;
  padding-right: 10px;
}
.individual-tour .promo-images {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.individual-tour .promo-images .promo-img {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
}
.individual-tour .text-container .day {
  margin-bottom: 80px;
}
.individual-tour .text-container .day h3 {
  font-weight: lighter;
  font-size: 60px;
  font-family: Proxima;
}
.individual-tour .text-container .day hr {
  margin-top: -20px;
  margin-bottom: 38px;
  width: 171px;
  height: 3px;
  background-color: black;
}
.individual-tour .text-container .day p {
  font-family: Gill;
  font-size: 16px;
}
.individual-tour .button-container {
  margin: 0 auto 100px auto;
  width: 133px;
}
.individual-tour .button-container button {
  margin: 0 auto;
  width: 133px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: #79ADDC;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .individual-tour {
    padding: 20px;
  }
  .individual-tour .header {
    width: 600px;
    margin: 0 auto;
  }
  .individual-tour .promo-images {
    flex-direction: column;
    align-items: center;
  }
  .individual-tour .promo-images .promo-img {
    margin-bottom: 15px;
  }
  .individual-tour .text-container {
    width: 600px;
    margin: 0 auto;
  }
}
.israel-hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.israel-1 {
  background-image: url(../images/tour/tour-israel/israel-tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.israel-2 {
  background-image: url(../images/tour/tour-israel/israel-tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.israel-3 {
  background-image: url(../images/tour/tour-israel/israel-tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.usa-hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.usa-1 {
  background-image: url(../images/tour/tour-usa/usa-tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.usa-2 {
  background-image: url(../images/tour/tour-usa/usa-tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.usa-3 {
  background-image: url(../images/tour/tour-usa/usa-tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.australia-hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.australia-1 {
  background-image: url(../images/tour/tour-aus/aus-tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.australia-2 {
  background-image: url(../images/tour/tour-aus/aus-tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.australia-3 {
  background-image: url(../images/tour/tour-aus/aus-tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.zealand-hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.zealand-1 {
  background-image: url(../images/tour/tour-nz/nz-tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.zealand-2 {
  background-image: url(../images/tour/tour-nz/nz-tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.zealand-3 {
  background-image: url(../images/tour/tour-nz/nz-tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.france-hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.france-1 {
  background-image: url(../images/tour/tour-france/france-tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.france-2 {
  background-image: url(../images/tour/tour-france/france-tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.france-3 {
  background-image: url(../images/tour/tour-france/france-tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.egypt-hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.egypt-1 {
  background-image: url(../images/tour/tour-egypt/egypt-tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.egypt-2 {
  background-image: url(../images/tour/tour-egypt/egypt-tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.egypt-3 {
  background-image: url(../images/tour/tour-egypt/egypt-tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.japan-hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-07.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.japan-1 {
  background-image: url(../images/tour/tour-japan/japan-tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.japan-2 {
  background-image: url(../images/tour/tour-japan/japan-tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.japan-3 {
  background-image: url(../images/tour/tour-japan/japan-tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.canada-hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-08.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.canada-1 {
  background-image: url(../images/tour/tour-canada/canada-tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.canada-2 {
  background-image: url(../images/tour/tour-canada/canada-tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.canada-3 {
  background-image: url(../images/tour/tour-canada/canada-tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.uae-hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-09.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.uae-1 {
  background-image: url(../images/tour/tour-uae/uae-tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.uae-2 {
  background-image: url(../images/tour/tour-uae/uae-tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.uae-3 {
  background-image: url(../images/tour/tour-uae/uae-tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}