.israel{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),url(../images/tour/tour-01.jpg);
    background-size: cover;
    background-position: center;
}
.us{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),url(../images/tour/tour-02.jpg);
    background-size: cover;
    background-position: center;
}
.aust{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),url(../images/tour/tour-03.jpg);
    background-size: cover;
    background-position: center;
}
.zealand{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),url(../images/tour/tour-04.jpg);
    background-size: cover;
    background-position: center;
}
.france{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),url(../images/tour/tour-05.jpg);
    background-size: cover;
    background-position: center;
}
.egypt{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),url(../images/tour/tour-06.jpg);
    background-size: cover;
    background-position: center;
}
.japan{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),url(../images/tour/tour-07.jpg);
    background-size: cover;
    background-position: center;
}
.canada{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),url(../images/tour/tour-08.jpg);
    background-size: cover;
    background-position: center;
}
.uae{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),url(../images/tour/tour-09.jpg);
    background-size: cover;
    background-position: center;
}