.egypt-hero{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black), url(../images/tour/tour-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.egypt-1{
    background-image: url(../images/tour/tour-egypt/egypt-tour-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.egypt-2{
    background-image: url(../images/tour/tour-egypt/egypt-tour-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.egypt-3{
    background-image: url(../images/tour/tour-egypt/egypt-tour-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}