.france-hero{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black), url(../images/tour/tour-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.france-1{
    background-image: url(../images/tour/tour-france/france-tour-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.france-2{
    background-image: url(../images/tour/tour-france/france-tour-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.france-3{
    background-image: url(../images/tour/tour-france/france-tour-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}