.israel-hero{
    background-image: linear-gradient(to right, $overlay-black, $overlay-black), url(../images/tour/tour-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.israel-1{
    background-image: url(../images/tour/tour-israel/israel-tour-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.israel-2{
    background-image: url(../images/tour/tour-israel/israel-tour-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.israel-3{
    background-image: url(../images/tour/tour-israel/israel-tour-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}