.individual-tour{
    margin: 0 auto;
    max-width: 980px;
    // height:413px;
    // background-color: aquamarine;
    .header{
        margin-top: 48.5px;
        height: 413px;
        position: relative;
        color: $white;
        font-family: Proxima;
        // background-color: bisque;
        .title{
            font-size: 80px;
            padding-top: 20px;
            padding-left: 30px;
        }
        .pricing{
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 30px;
            padding-right: 10px;
        }
    }
    .promo-images{
        width: 100%;
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        .promo-img{
            height:347px;
            width: 298px;
            background-color: cadetblue;
        }
    }
    .text-container{
        .day{
            margin-bottom: 80px;
            h3{
                font-weight: lighter;
                font-size: $proxima-title;
                font-family: Proxima;
            }

            hr{
                margin-top: -20px;
                margin-bottom: 38px;
                width: 171px;
                height: 3px;
                background-color: black;
            }

            p{
                font-family: Gill;
                font-size: 16px;
            }
        }
    }
    .button-container{
        margin: 0 auto 100px auto;
        width:133px;
        // background-color: aquamarine;
        button{
                margin: 0 auto;
                width: 133px;
                height: 40px;
                border: none;
                border-radius: 50px;
                background-color: $site-blue;
                color: $white;
        }
    }
}

@media only screen and (max-width:900px) {
    .individual-tour{
        .header{
            width: 600px;
            margin: 0 auto;
        }
        padding: 20px;
        .promo-images{
            flex-direction: column;
            align-items: center;
            .promo-img{
                margin-bottom: 15px;
            }
        }
        .text-container{
            width: 600px;
            // background-color: aquamarine;
            margin: 0 auto;
        }
    }
}